aiml==0.9.1
backports-abc==0.5
backports.functools-lru-cache==1.5
certifi==2018.10.15
cycler==0.10.0
Django==1.11.23
functools32==3.2.3.post2
future==0.17.1
futures==3.2.0
graphviz==0.5.1
kiwisolver==1.0.1
matplotlib==1.5.1
mkl-fft==1.0.6
neupy==0.6.5
nltk==3.3
numpy==1.15.3
pandas==0.23.4
progressbar2==3.34.3
pyparsing==2.3.0
python-dateutil==2.7.5
python-utils==2.3.0
pytz==2018.5
scipy==1.1.0
singledispatch==3.4.0.3
six==1.11.0
tableprint==0.7.1
Theano==1.0.0
tornado==5.1.1
wcwidth==0.1.7
wincertstore==0.2
